{% extends "layout.html" %}
{% block body %}
<div class="deck">

    <p>
    This document describes the HydrOffice BAG library and tools ({{ version }}). For the source code,
    <a href="https://bitbucket.org/gmasetti/hyo_bag">go here</a>.
    </p>

</div>
    {{ body }}
{% endblock %}
